{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "JAF Repository",
        href: "/jaf-repository"
      },
      {
        text: "Comparison",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ jafComparison.name }}</h1>

  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ jafComparison.summary }}</p>
      <h2 class="govuk-heading-m">Similar JAFs</h2>
      {% if not jafComparison.response | length %}
        <div class="govuk-inset-text">
          No similar JAFs found
        </div>
      {% endif %}

      {% if jafComparison.response | length %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Job Title</th>
              <th scope="col" class="govuk-table__header">Similarity Score</th>
              <th scope="col" class="govuk-table__header">Summary</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for jaf in jafComparison.response.response %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ jaf.name }}</th>
              <td class="govuk-table__cell">{{ jaf.similarity_score }}</td>
              <td class="govuk-table__cell">{{ jaf.summary }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
