{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "JAF Repository",
        href: "/jaf-repository"
      },
      {
        text: "Comparison",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ jafComparison.name }}</h1>

  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ jafComparison.jobSummary }}</p>
      <h2 class="govuk-heading-m">Similar JAFs</h2>
      {% if not jafComparison.comparedJafs | length %}
        <div class="govuk-inset-text">
          No similar JAFs found
        </div>
      {% endif %}

      {% if jafComparison.comparedJafs | length %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Job Title</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for comparedJaf in jafComparison.comparedJafs %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ comparedJaf.name }}</th>
                <td class="govuk-table__cell"><a class="govuk-link" href="/jaf-repository/compare/{{ jafComparison.id }}/{{ comparedJaf.compared_jaf_id }}">Details</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
