{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "JAF Repository",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">JAF Repository</h1>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">JAFs</h2>

      {% if not model.jafs | length %}
        <div class="govuk-inset-text">
          No JAFs found
        </div>
      {% endif %}

      {% if model.jafs | length %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Job Title</th>
              <th scope="col" class="govuk-table__header">Grade</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for jaf in model.jafs %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ jaf.jobTitle }}</th>
              <td class="govuk-table__cell">{{ jaf.grade }}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/jaf-repository/compare/{{ jaf.id }}">Compare</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
  <a href="/jaf-repository/upload" class="govuk-button">
    Upload new JAF
  </a>
{% endblock %}
