{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "JAF Repository",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">JAF Repository</h1>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">JAFs</h2>

      <form action="/jaf-repository" method="get">
        <div class="govuk-form-group govuk-!-display-inline">
          <select class="govuk-select" id="profession" name="profession">
            <option value="">All professions</option>
            {% for profession in model.professions %}
              <option value="{{ profession.value }}" {% if profession.isSelected %}selected{% endif %}>{{ profession.text }}</option>
            {% endfor %}
          </select>

          <button class="govuk-button" type="submit">Filter</button>
        </div>
      </form>
      
      {% if not model.jafs | length %}
        <div class="govuk-inset-text">
          No JAFs found
        </div>
      {% endif %}

      {% if model.jafs | length %}
        {% for key, item in model.jafs %}
          <h3 class="govuk-heading-m">{{ key }}</h3>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Job Title</th>
                <th scope="col" class="govuk-table__header">Grade</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for jaf in item %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{{ jaf.jobTitle }}</th>
                  <td class="govuk-table__cell">{{ jaf.grade }}</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="/jaf-repository/compare/{{ jaf.id }}">Compare</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <a href="/jaf-repository/upload" class="govuk-button">
    Upload new JAF
  </a>
{% endblock %}
