{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "JAF Repository",
        href: "/jaf-repository"
      },
      {
        text: "JAF",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ jaf.name }}</h1>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Similar JAFs</h2>
      {% if not similarJafs | length %}
        <div class="govuk-inset-text">
          No similar JAFs found
        </div>
      {% endif %}

      {% if similarJafs | length %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Job Title</th>
              <th scope="col" class="govuk-table__header">Summary</th>
              <th scope="col" class="govuk-table__header">Deliverables</th>
              <th scope="col" class="govuk-table__header">Responsibilities</th>
              <th scope="col" class="govuk-table__header">Overall</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for jaf in similarJafs %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ jaf.jafName }}</th>
              <td class="govuk-table__cell">{{ jaf.summaryCosine }}</td>
              <td class="govuk-table__cell">{{ jaf.deliverablesCosine }}</td>
              <td class="govuk-table__cell">{{ jaf.responsibilitiesCosine }}</td>
              <td class="govuk-table__cell">{{ jaf.overallCosine }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
