{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "JAF Repository",
        href: "/jafs"
      },
      {
        text: "Upload",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Upload new JAF</h1>

  <form action="/jaf-repository/upload" method="post" enctype="multipart/form-data" novalidate="novalidate">
    {{ govukFileUpload({
      errorMessage: model.error,
      id: "jaf-upload",
      name: "jaf",
      label: {
        text: "Choose JAF (pdf) to upload"
      }
    }) }}

    {{ govukButton({
      text: "Upload"
    }) }}
  </form>
{% endblock %}
